.header {
    background-image:url('../images/banner.jpg');
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    height:879px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}

.introduction {
    margin-left:58px;
    margin-top:281px;
}

.greeting, .firstName, .lastName, .job {
    text-transform: uppercase;
    font-size:37.45px;
    font-weight:300;
    color:#ffffff;
    margin-top:0;
    margin-bottom:12px;
    letter-spacing: 0.2em;
}

.firstName, .lastName {
    font-size:59.92px;
}

.firstName {
    margin-bottom:0;
}

.lastName {
    margin-bottom:13px;
}

.logo {
    margin-top:32px;
    position: relative;
    left: 100px;
}

.navbar {
    margin-top:67px;
    margin-right:51px;
}

.navbar ul {
    list-style-type:none;
    margin-top:0;
    margin-bottom:56px;
}

.navbar ul li {
    text-align:right;
}

.link {
    text-decoration: none;
    text-transform:uppercase;
    font-size:21.57px;
    font-weight:600;
    color:#e3e3e3;
    letter-spacing: 0.2em;
}

.link {
    transition:ease-in-out all 0.4s;
}

.link:hover {
    color:#32b5f2;
    border-bottom:solid 11px #32b5f2;
}

@media screen and (max-width:1366px) {
    .logo {
        left:51px;
    }
    
    .link {
        letter-spacing:0;
    }
}