.header {
    background-image:url('../images/banner.jpg');
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    height:879px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}

.introduction {
    margin-left:58px;
    margin-top:281px;
}

.greeting, .firstName, .lastName, .job {
    text-transform: uppercase;
    font-size:25px;
    font-weight:300;
    color:#ffffff;
    margin-top:0;
    margin-bottom:12px;
    letter-spacing: 0.3em;
}

.firstName, .lastName {
    font-size:50px;
    font-weight:500;
}

.firstName {
    margin-bottom:0;
}

.lastName {
    margin-bottom:13px;
}

.logo {
    margin-top:32px;
    position: relative;
    left: 100px;
}

.mobileMenu {
    display:none;
    background-color:#0f2f4d;
    width:100%;
    height:72px;
    position:fixed;
    z-index:10;
}

.mobileMenu .logo {
    height: 40px;
    margin-top: 17px;
}


@media screen and (max-width:1366px) {
    .logo {
        left:51px;
    }
}

@media screen and (max-width:992px) {
    .header {
        position:relative;
        top:72px;
    }

    .headerMenu {
        opacity:0;
    }

    .mobileMenu {
        display:flex;
        justify-content: space-between;
        line-height: 70px;
    }
}

@media screen and (max-width:767px) {
    .header {
        top:0;
        background-position:65%;
    }
    .mobileMenu {
        display:none;
    }
}

@media screen and (max-width:481px) {
    .header {
        background-position:left;
    }

    .introduction {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:360px) {
    .greeting, .job {
        font-size:21px;
    }

    .firstName, .lastName {
        font-size:35px;
    }
}
